<% var
    pageTitle = "Home";
    pageId = "index";
    pageUrl = "";
    pageDescription = " Page Description Here";
    lang = "en";
%>

    <% include includes/_head %>


        <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->



        <header id="header">
            <div class="pre-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="lang-select">
                                <div class="lang">
                                    <a href="">EN</a>|
                                    <a href="" title="العربية">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.58 15.47" width="46" height="21">
                                            <title>العربية</title>
                                            <g>
                                                <rect x="4.48" y="0.66" width="1.22" height="1.34" />
                                                <rect x="2.48" y="0.66" width="1.22" height="1.34" />
                                                <rect x="10.48" y="12.77" width="1.22" height="1.34" />
                                                <rect x="12.48" y="12.77" width="1.22" height="1.34" />
                                                <path d="M18.42,13.42H13.66V6.52H12.42v6.9H8.22V6.54c-.42,0-1-.08-1.85-.12S5,6.36,4.55,6.36a4.55,4.55,0,0,0-2.13.42A2.35,2.35,0,0,0,1.28,8.09a6.78,6.78,0,0,0-.34,2.38,6.37,6.37,0,0,0,.36,2.38,2.35,2.35,0,0,0,1.17,1.27,5.13,5.13,0,0,0,2.24.4h15v-8H18.42ZM7,13.42H4.92a3.65,3.65,0,0,1-1.63-.3,1.78,1.78,0,0,1-.86-.93,4.85,4.85,0,0,1-.26-1.75,3.51,3.51,0,0,1,.59-2.27,2.58,2.58,0,0,1,2.05-.69c.51,0,1.23,0,2.17.1Z"
                                                    transform="translate(-0.94 -3.03)" />
                                                <rect x="17.49" y="12.77" width="1.22" height="1.34" />
                                                <path d="M39.18,13.42H35.51A5.14,5.14,0,0,1,33.56,13a7.44,7.44,0,0,0,2.38-3,4.55,4.55,0,0,0,.36-1.42l0-1.14a8.78,8.78,0,0,0-4-1.07,8.54,8.54,0,0,0-3.95,1.07l.05,1.14a5,5,0,0,0,.76,2.26,7.55,7.55,0,0,0,2,2.22,5.61,5.61,0,0,1-2,.37H25.4V6.54H24.17V15a3.37,3.37,0,0,1-.39,1.77,1.32,1.32,0,0,1-1.2.63l-1-.06v1.09l.33,0,.38,0,.47,0q2.64,0,2.64-3.81v-.18h3.89a6.3,6.3,0,0,0,1.59-.2,7.58,7.58,0,0,0,1.5-.53,6.64,6.64,0,0,0,1.52.54,7,7,0,0,0,1.63.19h4.88V3H39.18Zm-6.8-1a6.16,6.16,0,0,1-2-1.93,4.45,4.45,0,0,1-.74-2.45,8,8,0,0,1,2.71-.59,7.92,7.92,0,0,1,2.72.59,4.44,4.44,0,0,1-.76,2.45A6.56,6.56,0,0,1,32.38,12.44Z"
                                                    transform="translate(-0.94 -3.03)" />
                                                <rect x="42.35" width="1.23" height="11.49" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="-wrapper">



                    <div class="container">

                        <div class="row">
                            <div class="col-12">
                                <div class="brand">
                                    <div class="logo">
                                        <a href="/" class="pad-10">
                                            <img src="images/site-logo.svg" alt="Falcon City" />
                                        </a>
                                    </div>
                                    <div class="spinner">
                                        <span></span>
                                    </div>
                                    <div class="lang-select">
                                        <a href="">EN</a>|
                                        <a href="" title="العربية">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.58 15.47" width="46" height="21">
                                                <title>العربية</title>
                                                <g>
                                                    <rect x="4.48" y="0.66" width="1.22" height="1.34" />
                                                    <rect x="2.48" y="0.66" width="1.22" height="1.34" />
                                                    <rect x="10.48" y="12.77" width="1.22" height="1.34" />
                                                    <rect x="12.48" y="12.77" width="1.22" height="1.34" />
                                                    <path d="M18.42,13.42H13.66V6.52H12.42v6.9H8.22V6.54c-.42,0-1-.08-1.85-.12S5,6.36,4.55,6.36a4.55,4.55,0,0,0-2.13.42A2.35,2.35,0,0,0,1.28,8.09a6.78,6.78,0,0,0-.34,2.38,6.37,6.37,0,0,0,.36,2.38,2.35,2.35,0,0,0,1.17,1.27,5.13,5.13,0,0,0,2.24.4h15v-8H18.42ZM7,13.42H4.92a3.65,3.65,0,0,1-1.63-.3,1.78,1.78,0,0,1-.86-.93,4.85,4.85,0,0,1-.26-1.75,3.51,3.51,0,0,1,.59-2.27,2.58,2.58,0,0,1,2.05-.69c.51,0,1.23,0,2.17.1Z"
                                                        transform="translate(-0.94 -3.03)" />
                                                    <rect x="17.49" y="12.77" width="1.22" height="1.34" />
                                                    <path d="M39.18,13.42H35.51A5.14,5.14,0,0,1,33.56,13a7.44,7.44,0,0,0,2.38-3,4.55,4.55,0,0,0,.36-1.42l0-1.14a8.78,8.78,0,0,0-4-1.07,8.54,8.54,0,0,0-3.95,1.07l.05,1.14a5,5,0,0,0,.76,2.26,7.55,7.55,0,0,0,2,2.22,5.61,5.61,0,0,1-2,.37H25.4V6.54H24.17V15a3.37,3.37,0,0,1-.39,1.77,1.32,1.32,0,0,1-1.2.63l-1-.06v1.09l.33,0,.38,0,.47,0q2.64,0,2.64-3.81v-.18h3.89a6.3,6.3,0,0,0,1.59-.2,7.58,7.58,0,0,0,1.5-.53,6.64,6.64,0,0,0,1.52.54,7,7,0,0,0,1.63.19h4.88V3H39.18Zm-6.8-1a6.16,6.16,0,0,1-2-1.93,4.45,4.45,0,0,1-.74-2.45,8,8,0,0,1,2.71-.59,7.92,7.92,0,0,1,2.72.59,4.44,4.44,0,0,1-.76,2.45A6.56,6.56,0,0,1,32.38,12.44Z"
                                                        transform="translate(-0.94 -3.03)" />
                                                    <rect x="42.35" width="1.23" height="11.49" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>


            <div class="hero">
                <div class="content">
                    <div class="top">
                        <div class="container">
                            <div class="row flex-top flex-row-reverse-m">
                                    <div class="col-12 col-6-m">
                                            <div class="hero-text text-center text-right-m pad-top-20 pad-bottom-60 pad-0-m">
                                                <h2>premium 5 &amp; 6 bedroom villas <span class="block-m">starting from AED 2.9 million</span><small>*Terms &amp; conditions apply</small></h2>
                                                
                                                <a href="tel:+9713271711" class="">Call Now</a>
                                            </div>
                                        </div>
                                <div class="col-12 col-6-m">
                                    <form action="">
                                        <ul>
                                            <li class="pad-bottom-15">
                                                <h3 class="pad-bottom-5">Request call back</h3>
                                                <h5>5 &amp; 6 BEDROOM TOWNHOUSES
                                                    <span>+ MAID'S ROOM</span>
                                                </h5>
                                            </li>
                                            <li class="pad-bottom-5">
                                                <input type="text" placeholder="full name*">
                                            </li>
                                            <li  class="pad-bottom-5">
                                                <input type="text" placeholder="email*">
                                            </li>
                                            <li  class="pad-bottom-5">
                                                <input type="text" placeholder="phone no*">
                                            </li>
                                            <li  class="pad-bottom-5">
                                                <input type="text" placeholder="nationality">
                                            </li>
                                            <li  class="pad-bottom-5">
                                                <div class="custom-checkbox">
                                                    <div class="check-box">
                                                            <input id="checkbox-1" type="checkbox" class="promoted-input-checkbox" checked/>
                                                            <span></span>
                                                    </div>
                                                    <label for="checkbox-1">request call back</label>
                                                </div>
                                            </li>
                                            <li  class="pad-bottom-5">
                                                <small  class=" block pad-bottom-5 pad-top-10">*Mandatory fields</small>

                                                <ul>
                                                    <li>
                                                            <input type="submit" value="submit">
                                                    </li>
                                                    <li>
                                                            <a href="tel:+9713271711" target="_blank">Call Now</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>



                                    </form>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="bottom text-center text-left-m">
                        <div class="container">
                            <div class="row flex-middle">
                                    <div class="col-12 col-7-m">
                                            <h4 class="pad-bottom-10 pad-0-m">sales launching september 18th, <span class="block-m">register now to secure your spot</span></h4>
                                        </div>
                                        <div class="col-12 col-5-m">
                                           <a href="">Register</a>
                                        </div>
                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </header>
        <main>
            <section>
                    <% include includes/_intro %>

            </section>
            <section>
                    <% include includes/_gallery %>
            </section>
            <section>
                    <% include includes/_infographics %>
            </section>
            <section>
                    <% include includes/_floor-plan %>
            </section>
            <section>
                    <% include includes/_media %>
            </section>
            <section>
                    <% include includes/_pre-footer %>
            </section>

        </main>



        <% include includes/_footer %>